{% extends 'base.html.twig' %}

{% block title %} ADD TEACHER{% endblock %}


{% block body %}

	<div class="auth-form">
		<h3 class="text-center mt-5">ADD NEW TEACHER</h3>
      {{ form_start(form) }}
         <div class="auth-form__input">
            {{ form_label(form.name) }}
            {{ form_widget(form.name,
               {
                  'attr': { 'class' : 'form-control'}
               })
            }}
         </div>

		<div class="auth-form__input">
            {{ form_label(form.email) }}
            {{ form_widget(form.email,
               {
                  'attr': { 'class' : 'form-control'}
               })
            }}
        </div>

        <div class="auth-form__input">
            {{ form_label(form.birthday) }}
            {{ form_widget(form.birthday,
               {
                  'attr': { 'class' : 'form-control'}
               })
            }}
        </div>
        <div class="auth-form__input">
            {{ form_label(form.major) }}
            {{ form_widget(form.major,
               {
                  'attr': { 'class' : 'form-control'}
               })
            }}
        </div>
        {# <div class="auth-form__input">
            {{ form_label(form.courses) }}
            {{ form_widget(form.courses,
               {
                  'attr': { 'class' : 'form-control'}
               })
            }}
        </div> #}
        <div class="auth-form__input">
            {{ form_label(form.image) }}
            {{ form_widget(form.image,
               {
                  'attr': { 'class' : 'form-control'}
               })
            }}
        </div>
        <div class="auth-form__controls">
            <button class="btn btn--primary" style="font-size: 1.5rem; color: white; background-color: #fb5330; padding: 0;" type="submit">ADD</button>
        </div>
      {{ form_end(form) }}
	</div>

{% endblock %}