{% extends 'base.html.twig' %}

{% block title %} TEACHER DETAIL {% endblock %}


{% block body %}

<nav class="container">
	<a class="btn btn-outline-success mt-2" href="{{ path('teacher_edit', {'id': teacher.id}) }}" style="margin: 50px">UPDATE TEACHER</a>
	<a class="btn btn-outline-success mt-2" href="{{ path('teacher_delete', {'id': teacher.id}) }}" onclick="return confirm('Are you sure to delete?')" style="margin: 50px">DELETE TEACHER</a>

    <div class="grid wide">
        <div class="row sm-gutter container__shorter">
			<div class="col l-10">
				<div class="home__product">
					
						<div class="product_info-img">
							<img src="{{asset('images/teacher/'~teacher.image)}}"
							alt="avatar" width="250" height="250" style="border-radius: 50%">
						</div>
						<div class="product_info-item">
							<div class="product-list_info bold">
								<span>ID:</span><br><br>
								<span>Name:</span><br><br>
								<span>Email:</span><br><br>
								<span>Birthday:</span><br><br>
								<span>Major:</span>
							</div>
							<div class="product-list_info inherit">
								<span>{{teacher.id}}</span><br><br>
								<span>{{teacher.name}}</span><br><br>
								<span>{{teacher.email}}</span><br><br>
								<span>{{teacher.birthday|date('d/m/Y')}}</span><br><br>
								<span>{{teacher.major}}</span><br><br>
								{# <span>
									{% for a in teacher.courses %}
										<a href="{{ path('course_detail', {'id': a.id }) }}">
											{{ a.title }}
										</a>
										<br>
									{% endfor %}
								</span> #}
							</div>
						</div>
					
				</div>
			</div>
		</div>
	</div>
</nav>
                
{% endblock %}
