{% extends 'base.html.twig' %}

{% block title %} UPDATE TEACHER{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('../anh_css/main.css')}}">
{% endblock %}

{% block body %}

	<div class="auth-form">
		<h3 class="text-center mt-5">UPDATE NEW TEACHER</h3>
      {{ form_start(form) }}
         <div class="auth-form__input">
            {{ form_label(form.name) }}
            {{ form_widget(form.name,
               {
                  'attr': { 'class' : 'form-control'}
               })
            }}
         </div>

		<div class="auth-form__input">
            {{ form_label(form.email) }}
            {{ form_widget(form.email,
               {
                  'attr': { 'class' : 'form-control'}
               })
            }}
        </div>

        <div class="auth-form__input">
            {{ form_label(form.birthday) }}
            {{ form_widget(form.birthday,
               {
                  'attr': { 'class' : 'form-control'}
               })
            }}
        </div>
        <div class="auth-form__input">
            {{ form_label(form.major) }}
            {{ form_widget(form.major,
               {
                  'attr': { 'class' : 'form-control'}
               })
            }}
        </div>
        <div class="auth-form__input">
            {{ form_label(form.image) }}
            {{ form_widget(form.image,
               {
                  'attr': { 'class' : 'form-control'}
               })
            }}
        </div>

		{# <div class="auth-form__input">
            {{ form_label(form.course) }}
            {{ form_widget(form.course,
               {
                  'attr': { 'class' : 'form-control'}
               })
            }}
        </div> #}
        <div class="auth-form__controls">
            <button class="btn btn--primary" style="font-size: 1.5rem" type="submit">UPDATE</button>
        </div>
      {{ form_end(form) }}
	</div>

{% endblock %}