{% extends 'base.html.twig' %}

{% block title %} TEACHER LIST {% endblock %}

{% block body %}
<div class="container col-md-6 mt-3">
    <h3 class="text-success text-center">TEACHER LIST</h3>
    <a class="btn btn-outline-success mt-2" href="{{ path('teacher_add') }}">ADD TEACHER</a>
    <table class="table table-striped text-center mt-2">
        <thead>
            <tr>
                <th>ID</th>
                <th>Avatar</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
                <tr>
                    <td>{{ teacher.id }}</td>
                    <td>
                        <a href="{{ path('teacher_detail', {'id': teacher.id}) }}">
                            <img src="{{ asset('images/teacher/'~teacher.image )}}" alt="avatar" width="100" height="120">
                        </a>
                    </td>
                    <td>{{ teacher.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
