{% extends "base.html.twig" %}

{% block title %} Detail List {% endblock %}
{# avc #}
{% block body %}
<div class="container col-md-6 mt-3">
		<h3 class="text-success text-center text-capitalize">Category Detail</h3>
		<a class="btn btn-outline-success mt-2" href="{{ path('category_index') }}">Category List</a>
		{% if is_granted('ROLE_ADMIN') %}
			<a class="btn btn-info" href="{{ path('category_edit', {'id': category.id}) }}">EDIT</a>
			<a class="btn btn-warning" href="{{ path('category_delete', {'id': category.id}) }}" 
			onclick="return confirm('Are you sure to delete this category ?')">DELETE</a>
		{% endif %}
		<table class="table table-striped text-center mt-2">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Courses</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						{{ category.id }}
					</td>

					<td>
						{{ category.name }}
					</td>
					<td>
						{% for r in category.courses %}
							<a href="{{ path('course_detail', {'id': r.id }) }}">
								{{ r.title }}
							</a>
							<br>
						{% endfor %}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}