{% extends 'base.html.twig' %}

{% block body %}
	<div class="auth-form">
		<h3 class="text-center mt-5">UPDATE NEW Classroom</h3> 
		{{ form_start(form) }}
			<div class="auth-form__input"> {{ form_label(form.name) }} {{ form_widget(form.name,
				{
					'attr': { 'class' : 'form-control'}
				})
				}}
			</div>

			<div class="auth-form__input"> {{ form_label(form.course) }} {{ form_widget(form.course,
				{
					'attr': { 'class' : 'form-control_select'}
				})
				}}
			</div>

			<div class="auth-form__input"> {{ form_label(form.student) }} {{ form_widget(form.student,
				{
					'attr': { 'class' : 'form-control_select'}
				})
				}}
			</div>
			<div class="auth-form__controls">
				<button class="btn btn--primary" style="font-size: 1.5rem; color: white; background-color: #fb5330; padding: 0;" type="submit">UPDATE</button>
			</div> 
		{{ form_end(form) }}
	</div>
{% endblock %}