{% extends 'base.html.twig' %}

{% block title %}Class{% endblock %}

{% block body %}
	<div class="container-fuild col-md-10 mt-3">
		<h3 class="text-success text-center text-info">Class List</h3>
		{% if is_granted('ROLE_ADMIN') %}
		<a class="btn btn-outline-success mt-2" href="{{ path('classroom_add') }}">Add Class</a>
		{% endif %}
		<table class="table table-striped text-center mt-2">
			<thead>
				<tr>
					<th>No.</th>
					<th>Name</th>
					<th>Courses</th>
				</tr>
			</thead>
			<tbody>
				{% for classroom in classrooms %}
					<tr>
						<td>{{classroom.id}}</td>
						<td>
							<a href="{{path('classroom_detail', {'id': classroom.id })}}">
								{{classroom.name}}
							</a>
						</td>
						<td>
							{% for a in classroom.course %}
								<a href="{{path('course_detail', {'id': a.id })}}" style="text-decoration: none;"> {{ a.title }}
								</a>
                                <br>
							{% endfor %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}